/* Modal container styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Modal styles when open */
.modal.open {
  display: flex;
}

/* Modal content styles */
.modalContent {
  background-color: white;
  width: 50rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 50px;
  border-radius: 5px;
  position: relative;
  font-size: 18px;
  overflow-y: auto;
}

/* Close button styles */
.closeButton {
  cursor: pointer;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
}
