/* app.module.css */

/* Import Google Font */
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* Global styles */
body {
  font-family: DM Sans, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-weight: 400;
  font-size: 18px;
}


/* Heading styles */
.h1Style, .h1StyleBlue {
  font-family: DM Sans;
  font-size: 70px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: .3000000119px;
  text-align: left;
  text-transform: none;
}

.h1Style {
  color: #000000;
}

.h1StyleBlue {
  color: #5400e2;
}

@media screen and (max-width: 775px) {
  .h1Style, .h1StyleBlue {
    font-size: 50px;
    line-height: 50px;
  }
}

.h2Style, .h2StyleBlue {
  font-family: DM Sans, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  line-height: 2rem;
}

.h2StyleBlue {
  color: #5400e2;
  padding-bottom: 4vh;
}


.h2Style{
  padding-top: 4vh;
}

p {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: .2px;
  text-align: left;
}

  
.text {
  flex: 1;
  padding: 0;
  color: #000;
  min-width: 200px;
}

.textMoreInformation {
  padding: 0;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.calculatorContainer {
  flex: 1;
  background-color: #fff;
  min-width: 300px;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

/* Divider styles */
.dividerMoreInformation {
  border-top: 1px solid #ddd;
  margin-bottom: 5vh;
  margin-top: 15vh;
}

/* Container styles (Mobile-first approach) */
.containerTitle, .containerMoreInformationPart, .containerMainPart {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: flex-start;
  margin: auto;
  gap: 60px;
}
.containerTitle {
  padding-top: 18vh;
  padding-bottom: 18vh;
}

.containerMoreInformationPart{
  gap:10px;
}



.containerMoreInformation{
  padding-bottom: 20vh;
  flex-direction: row;
}

@media screen and (max-width: 775px) {
  /* Modify styles for screens up to 775px wide */
  .containerMainPart {
    flex-direction: column-reverse;
  }
  .dividerMoreInformation{
    margin-top: 10vh;
  }
  .containerTitle {
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
  .containerMoreInformation{
    gap:0px;
    flex-direction: column;
  }
  .h2StyleBlue {
    padding-bottom: 4vh;
  }
}
