/* app.module.css */
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* Global styles */
body {
  font-family: DM Sans, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-weight: 400;
  font-size: 18px;
}

.h1Style {
  font-family: DM Sans, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #000000;
  line-height: 3rem;
  margin-bottom: -1rem;
}

.h1StyleBlue {
  font-family: DM Sans, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #5400e2;;
  line-height: 3rem;
}

.h2Style {
  font-family: DM Sans, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;;
}

.h2StyleBlue {
  font-family: DM Sans, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #5400e2;;
  line-height: 2rem;
}

/* Container styles */
.containerNetWorth {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: flex-start;
  margin: auto;
  gap: 60px;
}

.text {
  flex: 1;
  padding: 0;
  color: #000;
  min-width: 200px;
}

.calculatorContainer {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}


/* Divider styles */
.divider {
  border-top: 1px solid #ddd;
  margin-top: 80px;
  margin-bottom: 20px;
}
