.calculatorContainer {
  flex: 1;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  display: flex;
  margin: auto;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.divContainer {
  min-width: -moz-available;
}

.popupText {
  line-height: 2;
} 

.lossCapacityBox {
  background-color: #5400e2;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  text-align: left;

  width: -moz-available;
}

.lossBearingTitle {
  color: rgb(255, 255, 255); /* Changed color here */
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.result {
  font-size: 34px;
  text-align: right;
}

.inputField {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.2s;
  width: -moz-available;
  vertical-align: middle;
}

.currency {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.2s;
  width: 100%;
  vertical-align: middle;
}

.divider {
  border-top: 1px solid rgb(127, 127, 127);
  margin-top: 20px;
  margin-bottom: 20px;
}
